body,
h1,
h2,
h3,
h4,
.menun,
header {
    margin: 0;
}

.fotoheader {
    position: absolute;
    width: 365px;
    height: 265px;
}

p {
    border-color: aqua;
    border-radius: 20px;
    font-family: 'Koulen', cursive;
    padding-top: 20px;
    color: black;
}

h3 {
    border-color: rgb(253, 253, 253);
    font-family: 'Tapestry', cursive
}

body {
    background-image: url(../pics/humo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.varios-c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.varios-c {
    width: 100%;
    height: 180px;
}

.contacto {
    float: right;
}

.fotosc {
    padding-left: 20px;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    float: left;
    padding: 24px 0;
}

.menun ul li {
    border: 5px;
    display: inline-block;
    list-style: none;
    padding-left: 4px;
    margin-left: 120px;
}

.ventam {
    padding-left: 25px;
}

#ofertasp {
    text-align: justify;
}

.humo2 {
    border-radius: 5px;
    color: azure;
}

.ponerh {
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: 140%;
    background-repeat: no-repeat;
    position: relative;
    right: -620px;
}

.estaes {
    width: 60%;
    margin: auto;
    margin-top: 0;
}

.nombrep {
    font-family: 'Tapestry', cursive;
    color: rgb(0, 0, 0);
    background: linear-gradient(yellow, blue, white);
}